<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Animal Stuff</h1>
	<ul>
		<% for (let i = 0; i < animals.length; i++) {%>

		<li>
			
			<%= animals[i].name %>
			

		</li>	

			<form action="/animals/<%=i%>?_method=DELETE" method="POST">
				<button type='Submit'>Delete</button>
			</form>
		<% } %>
		

	</ul>



</body>
</html>