<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Animal Stuff</h1>
	<ul>
		<% for (let i = 0; i < animals.length; i++) {%>
		<li>
			<%= animals[i].name %>
		</li>	
		<% } %>
		

	</ul>



</body>
</html>